<!DOCTYPE html>
<html>

<head>
    <%- include("../../_includes/header", {title: custom_title, build_time: build_time}) %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        h1 {
            font-size: xx-large;
        }

        h2 {
            font-size: x-large;
        }
    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <div x-data="{ sidebarOpen: false }">
        <div class="flex h-screen bg-gray-100 dark:bg-gray-800 font-roboto">
            <%- include("../../_includes/sidenav", {...locals, nav: "projeklaman"}) %>

            <div class="flex-1 flex flex-col overflow-hidden">
                <header class="flex justify-between items-center p-6 bg-white dark:bg-gray-900">
                    <div class="flex items-center space-x-4 lg:space-x-0">
                        <button @click="sidebarOpen = true"
                            class="text-gray-500 dark:text-gray-300 focus:outline-none lg:hidden">
                            <span class="material-icons h-6 w-6 mt-2">menu</span>
                            <!-- <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 6H20M4 12H20M4 18H11" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg> -->
                        </button>

                        <div>
                            <h1 class="text-2xl font-medium text-gray-800 dark:text-white"><%= anime_title %></h1>
                        </div>
                    </div>

                    <div class="flex items-center space-x-4">
                        <button class="flex text-gray-600 dark:text-gray-300 transition-colors duration-300 ease-in-out hover:text-gray-400 focus:outline-none" onclick="toggleTheme();">
                            <span class="material-icons">mode_night</span>
                        </button>
                        <div x-data="{ dropdownOpen: false }" class="relative">
                            <button @click="dropdownOpen = ! dropdownOpen"
                                class="flex items-center space-x-2 relative focus:outline-none">
                                <h2 class="text-gray-700 dark:text-gray-300 text-sm hidden sm:block"><%= user_id %>
                                </h2>
                                <span class="material-icons mt-2 h-9 w-9 object-cover dark:text-white">
                                    <% if (is_admin) { %>
                                    admin_panel_settings
                                    <% } else { %>
                                    person
                                    <% } %>
                                </span>
                            </button>

                            <div class="absolute right-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-10"
                                x-show="dropdownOpen" x-transition:enter="transition ease-out duration-100 transform"
                                x-transition:enter-start="opacity-0 scale-95"
                                x-transition:enter-end="opacity-100 scale-100"
                                x-transition:leave="transition ease-in duration-75 transform"
                                x-transition:leave-start="opacity-100 scale-100"
                                x-transition:leave-end="opacity-0 scale-95" @click.away="dropdownOpen = false">
                                <a href="/api/auth/logout"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-purple-600 hover:text-white">Keluar</a>
                            </div>
                        </div>
                    </div>
                </header>

                <main id="root" class="flex-1 overflow-x-hidden overflow-y-auto" aria-type="projek-laman">
                    <div class="container mx-auto px-6 pt-8 pb-4">
                        <div id="projek-data" class="grid gap-2 sm:grid-cols-1 lg:grid-cols-1">
                            <div class="p-3 bg-white dark:bg-gray-700 rounded shadow-sm">
                                <div class="flex flex-col md:flex-row py-1">
                                    <div class="icon h-5/6 p-1 mr-3" aria-class="projek-poster">
                                        <div class="px-24 py-36 animate-pulse bg-gray-400"></div>
                                    </div>
                                    <div class="flex flex-col pb-2">
                                        <div id="ostats-anime" class="text-2xl font-bold text-gray-900 dark:text-gray-200"><%= anime_title %></div>
                                        <div class="text-sm text-green-400 py-2 px-6 bg-gray-400 animate-pulse rounded-lg mt-1" aria-class="projek-kolaborasi"></div>
                                        <div class="text-sm text-gray-600 dark:text-gray-300 py-2 px-6 bg-gray-400 animate-pulse rounded-lg mt-1" aria-class="projek-alias"></div>
                                        <div class="text-lg font-semibold text-gray-900 dark:text-gray-200 mt-1">Staf
                                        </div>
                                        <div class="flex flex-col gap-2 mt-2" aria-class="projek-roles">
                                            <div class="py-2 px-6 bg-gray-400 font-bold animate-pulse rounded-lg"></div>
                                            <div class="py-2 px-6 bg-gray-400 font-bold animate-pulse rounded-lg"></div>
                                            <div class="py-2 px-6 bg-gray-400 font-bold animate-pulse rounded-lg"></div>
                                            <div class="py-2 px-6 bg-gray-400 font-bold animate-pulse rounded-lg"></div>
                                            <div class="py-2 px-6 bg-gray-400 font-bold animate-pulse rounded-lg"></div>
                                            <div class="py-2 px-6 bg-gray-400 font-bold animate-pulse rounded-lg"></div>
                                            <div class="py-2 px-6 bg-gray-400 font-bold animate-pulse rounded-lg"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container mx-auto px-6 py-4">
                        <h2 class="font-extrabold pb-3 dark:text-white">Episode</h2>
                        <div id="episode-data" class="grid gap-2 sm:grid-cols-2 lg:grid-cols-3">
                            <div class="p-3 bg-white dark:bg-gray-700 rounded shadow-sm">
                                <div class="flex flex-col py-1" aria-show-episode="XX">
                                    <div class="flex justify-between items-center">
                                        <div class="flex items-center font-bold bg-gray-400 rounded-lg py-2 px-20 animate-pulse"></div>
                                        <div class="flex items-center">
                                            <div class="px-6 py-3 bg-gray-400 animate-pulse rounded-lg"></div>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <span class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></span>
                                    </div>
                                    <div class="flex">
                                        <span class="px-6 py-2 mt-3 bg-gray-400 animate-pulse rounded-lg"></span>
                                    </div>
                                    <div class="flex-row pt-2 text-center flex flex-wrap gap-1">
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                    </div>
                                    <div class="flex">
                                        <span class="px-6 py-2 mt-3 bg-gray-400 animate-pulse rounded-lg"></span>
                                    </div>
                                    <div class="flex-row pt-2 text-center flex flex-wrap gap-1">
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="p-3 bg-white dark:bg-gray-700 rounded shadow-sm">
                                <div class="flex flex-col py-1" aria-show-episode="XX">
                                    <div class="flex justify-between items-center">
                                        <div class="flex items-center font-bold bg-gray-400 rounded-lg py-2 px-20 animate-pulse"></div>
                                        <div class="flex items-center">
                                            <div class="px-6 py-3 bg-gray-400 animate-pulse rounded-lg"></div>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <span class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></span>
                                    </div>
                                    <div class="flex">
                                        <span class="px-6 py-2 mt-3 bg-gray-400 animate-pulse rounded-lg"></span>
                                    </div>
                                    <div class="flex-row pt-2 text-center flex flex-wrap gap-1">
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                    </div>
                                    <div class="flex">
                                        <span class="px-6 py-2 mt-3 bg-gray-400 animate-pulse rounded-lg"></span>
                                    </div>
                                    <div class="flex-row pt-2 text-center flex flex-wrap gap-1">
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="p-3 bg-white dark:bg-gray-700 rounded shadow-sm">
                                <div class="flex flex-col py-1" aria-show-episode="XX">
                                    <div class="flex justify-between items-center">
                                        <div class="flex items-center font-bold bg-gray-400 rounded-lg py-2 px-20 animate-pulse"></div>
                                        <div class="flex items-center">
                                            <div class="px-6 py-3 bg-gray-400 animate-pulse rounded-lg"></div>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <span class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></span>
                                    </div>
                                    <div class="flex">
                                        <span class="px-6 py-2 mt-3 bg-gray-400 animate-pulse rounded-lg"></span>
                                    </div>
                                    <div class="flex-row pt-2 text-center flex flex-wrap gap-1">
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                    </div>
                                    <div class="flex">
                                        <span class="px-6 py-2 mt-3 bg-gray-400 animate-pulse rounded-lg"></span>
                                    </div>
                                    <div class="flex-row pt-2 text-center flex flex-wrap gap-1">
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                        <div class="px-8 py-2 bg-gray-400 animate-pulse rounded-lg"></div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    </div>
    <script>
        // Pass data to browser window so I can access it later
        window.PROJECT_DATA = JSON.parse(`<%= raw_data %>`.replace(/&#34;/g, '"'));
    </script>
    <script src="/assets/js/projects.bundle.js"></script>
</body>