<!DOCTYPE html>
<html class="<%= darkMode %>" data-iframe="naotimes-project-embed">
    <head>
        <title>Tagih Utang - <%= server_id %></title>
        <meta name="description" content="Daftar Utang <%= server_id %>">

        <link href="/assets/main.css" rel="stylesheet">
        <style>
            .border-3 {
                border-width: 3px;
            }

            .border-t-3 {
                border-top-width: 3px;
            }

            .border-b-3 {
                border-bottom-width: 3px;
            }

            .border-r-3 {
                border-right-width: 3px;
            }

            .border-l-3 {
                border-left-width: 3px;
            }
        </style>
    </head>
    <body tabindex="-1">
        <div id="root">
            <%- generated_ssr %>
        </div>
    </body>
    <div class="hidden" aria-type="locale" aria-locale="<%= locale_sel %>">
        <%- locale_map_extra %>
    </div>
    <script>
        var localeMapChild = JSON.parse(`<%- locale_map_helper %>`);
        var localeDiv = document.querySelector("div[aria-type=locale]");
        var selLocale = localeDiv.getAttribute("aria-locale");
        // Fallback to Indonesian if fail.
        var localeHelper = localeDiv.children[localeMapChild[selLocale] || 0];
        var savedEpisodeCount = {};
        function toggleButton(btn) {
            // Get button role
            var curRole = btn.getAttribute("data-current");
            var animeId = btn.getAttribute("data-id");
            var parent = btn.parentElement;
            var expandLocale = localeHelper.children[0].textContent;
            var retractLocale = localeHelper.children[1].textContent;
            if (curRole === "less") {
                var episode = btn.children[1].children[0].textContent;
                savedEpisodeCount[animeId] = episode;
                parent.children[1].classList = "hidden";
                parent.children[2].classList = "grid grid-cols-2 justify-between";
                btn.children[1].innerHTML = retractLocale;
                btn.children[0].classList = "h-5 w-5 transform rotate-180";
                btn.setAttribute("data-current", "more");
                btn.classList = "show-ep-btn flex flex-row mt-2 text-gray-500 hover:text-gray-400 dark:text-gray-300 transition-colors";
            } else if (curRole === "more") {
                var expandMoreSpan = '<span slot="1">' + savedEpisodeCount[animeId] + "</span>";
                parent.children[1].classList = "";
                parent.children[2].classList = "hidden grid grid-cols-2 justify-between";
                btn.children[1].innerHTML = expandLocale.replace("{0}", expandMoreSpan);
                btn.children[0].classList = "h-5 w-5";
                btn.setAttribute("data-current", "less");
                btn.classList = "show-ep-btn flex flex-row mt-2 text-blue-500 hover:text-blue-400 dark:text-blue-300 transition-colors";
            }
            embedResizer(window.parent);
        }
        document.addEventListener("DOMContentLoaded", function (event) {
            var allShowBtn = document.querySelectorAll("button.show-ep-btn");
            for (let i = 0; i < allShowBtn.length; i++) {
                allShowBtn[i].addEventListener("click", function (e) {
                    e.preventDefault();
                    toggleButton(this);
                });
            };
        });

        function embedResizer(parentElem) {
            var thisParent;
            if (typeof parentElem === "undefined" || parentElem === null) {
                thisParent = document;
            } else {
                var parent = parentElem.document.getElementsByTagName("iframe");
                for (let i = 0; i < parent.length; i++) {
                    var elemSel = parent[i];
                    console.info("Checking", elemSel);
                    if (elemSel.getElementsByTagName("html")[0].getAttribute("data-iframe") === "naotimes-project-embed") {
                        thisParent = elemSel;
                        break;
                    }
                }
            }

            var elem = document.documentElement;
            if (typeof thisParent !== "undefined") {
                thisParent.style.height = elem.scrollHeight + "px";
            }
        }

        window.parent.onload = function () {
            embedResizer(this);
        }
    </script>
</html>