<!DOCTYPE html>
<html>

<head>
    <% if (is_admin) { %>
    <%- include("../_includes/header", {title: "404 - Admin Panel"}) %>
    <% } else { %>
    <%- include("../_includes/header", {title: "404 - Server Panel"}) %>
    <% } %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        h1 {
            font-size: xx-large;
        }

        h2 {
            font-size: x-large;
        }
    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <div x-data="{ sidebarOpen: false }">
        <div class="flex h-screen bg-gray-100 dark:bg-gray-800 font-roboto">
            <%- include("../_includes/sidenav", {is_admin: is_admin, nav: "none"}) %>

            <div class="flex-1 flex flex-col overflow-hidden">
                <header class="flex justify-between items-center p-6 bg-white dark:bg-gray-900">
                    <div class="flex items-center space-x-4 lg:space-x-0">
                        <button @click="sidebarOpen = true"
                            class="text-gray-500 dark:text-gray-300 focus:outline-none lg:hidden">
                            <span class="material-icons h-6 w-6">menu</span>
                            <!-- <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 6H20M4 12H20M4 18H11" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg> -->
                        </button>

                        <div>
                            <h1 class="text-2xl font-medium text-gray-800 dark:text-white">404</h1>
                        </div>
                    </div>

                    <div class="flex items-center space-x-4">
                        <div x-data="{ dropdownOpen: false }" class="relative">
                            <button @click="dropdownOpen = ! dropdownOpen"
                                class="flex items-center space-x-2 relative focus:outline-none">
                                <h2 class="text-gray-700 dark:text-gray-300 text-sm hidden sm:block"><%= user_id %>
                                </h2>
                                <span class="material-icons mt-2 h-9 w-9 object-cover dark:text-white">
                                    <% if (is_admin) { %>
                                    admin_panel_settings
                                    <% } else { %>
                                    person
                                    <% } %>
                                </span>
                            </button>

                            <div class="absolute right-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-10"
                                x-show="dropdownOpen" x-transition:enter="transition ease-out duration-100 transform"
                                x-transition:enter-start="opacity-0 scale-95"
                                x-transition:enter-end="opacity-100 scale-100"
                                x-transition:leave="transition ease-in duration-75 transform"
                                x-transition:leave-start="opacity-100 scale-100"
                                x-transition:leave-end="opacity-0 scale-95" @click.away="dropdownOpen = false">
                                <a href="/api/auth/logout"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-purple-600 hover:text-white">Keluar</a>
                            </div>
                        </div>
                    </div>
                </header>

                <main id="root" class="flex-1 overflow-x-hidden overflow-y-auto" aria-type="404-page">
                    <div class="container mx-auto px-6 py-8 text-center items-center">
                        <h2 class="font-light dark:text-gray-200 pb-4">Tidak dapat menemukan laman tersebut :(</h2>
                        <qouteblock class=" bg-red-800 border-2 border-red-500 text-white rounded-lg px-2 py-0.5">
                            <%= path %></qouteblock>
                    </div>
                </main>
            </div>
        </div>
    </div>
    </div>
    <script src="/assets/js/projects.bundle.js"></script>
</body>